$header-height-sm: 60px;
$header-height-lg: 100px;

$cut-off-point-1: 768px;
$cut-off-point-2: 960px;

$table-details-ratio: 0.6;
$relative-table-width: 100% * $table-details-ratio;
$relative-details-width: 100% * (1 - $table-details-ratio);

$section-padding-vertical: 20px;
$section-padding-horizontal: 20px;



