/* Feel free to edit or remove */



.bui-app {
    text-align: center;
}

.bookings-table-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.bookings-table {
    width: 100%;
    text-align: left;
}

.bookings-table thead {
    background-color: #ccc;
}

.bookings-table,
.bookings-table td,
.bookings-table th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}

.bookings-table .cancelled {
    text-decoration: line-through;
}

.bookings-table .selected {
    background-color: #666;
    color: white;
}

section h2 {
    text-align: left;
    padding: 10px 0;
}



