/* Feel free to edit or remove */

.bui-app {
    font-family: sans-serif;
    text-align: center;
}

.bui-app-logo {
    height: 40px;
}

.bui-app-header {
    background-color: #fff;
    height: auto;
    padding: 20px;
    color: #000;
}

.bui-app-intro {
    font-size: 1rem;
}

header {
    padding: 10px 20px;
    border-bottom: 2px solid #666;
}

header img {
    max-height: 60px;
    max-width: 100%;
}
